{% extends "planner/base.html" %}

{% block title %}Day plan{% endblock %}

{% block content %}
    <h1>{{day_plan.date}}</h1>
<form method="post">
    {% csrf_token %}
    <table>
            <tr>
                <th>Floor</th>
                <th>Type</th>
                <th>Number</th>
                <th>Status</th>
            </tr>
        {% for status in statuses %}
        <tr>
            <td>{{ status.room.floor }}.</td>
            <td>{{ status.room.room_type }}</td>
            <td>{{ status.room.number }}</td>
            {% include "planner/_status_cell.html" %}
        </tr>
        {% empty %}
        <tr><td colspan="3">No rooms yet, add data.</td></tr>
        {% endfor %}
    </table>
</form>
{% endblock %}